r* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    background-color: #b30000;
    padding: 1rem;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    background-color: #2e2e2e;
    border: 4px solid #b30000;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

img {
    display: block;
    margin: 1.5rem auto;
    width: 250px;
    border-radius: 10px;
    border: 3px solid #b30000;
}

table {
    border-collapse: collapse;
    margin: 1.5rem auto;
    width: 80%;
}

th, td {
    border: 2px solid white;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #b30000;
}

.fila {
    background-color: #444;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
}
